<%@ page import="unity1.Registro" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Formulario de inventario</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<link rel="stylesheet" href="${resource(dir:'css',file:'default.css')}">
</head>
<body>

<g:render template="form"  />

<!-- aqui la prueba de consulta -->
valorsin <br>
<g:each in="${obtDat}" var="od">
	<p>valor que existe en comenta: ${od.comenta}</p> <br>
</g:each>
<!-- aqui la prueba de consulta -->
</body>
</html>





