<%--
  Created by IntelliJ IDEA.
  User: User
  Date: 11/05/2016
  Time: 12:19 PM
--%>

<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <title></title>
</head>

<body>
<h1 style="color: #888888">La informacion fué agregada, gracias.</h1>
    <g:link controller="registro" action="index">Click aquí para regresar</g:link>
</body>
</html>